.success,
.error{
	background-color: green;
	color: #ffffff;
	border-radius: 4px;
	text-align: center;
	padding: 5px;
	margin: 5px 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.errFloat,
.successFloat{
	background: red !important;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
}

.successFloat{
	background: green !important;
}

.error{
	background-color: red;
}

.error .icon,
.success .icon,
.errFloat .icon,
.successFloat .icon{
	color: #ffffff !important;
	margin-right: 5px;
}


.error .message,
.success .message,
.errFloat .message{
	display: inline;
}

@media screen and (max-width: 475px){
	.error,
	.success{
		margin-left: 0px;
		width: 97.5%;
	}
}