.pwd .input{
	margin: 0px;
	width: 100%;
}

.pwd{
	position: relative;
}

.pwd .togglePass{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0%,-50%);
	padding-right: 10px;
	cursor: pointer;
}