.cont{
	position: absolute;
	width: 100%;
	height: auto;
	min-height: calc(100vh - 75px);
	margin-top: 75px;
}

.cont .notFound{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.cont .notFound .img{
	object-fit: fill;
}

.cont .notFound .msg .title{
	font-weight: bold;
	margin-bottom: 2.5px;
}

.cont .complaint,
.cont .skeleton{
	position: relative;
	width: 90%;
	max-width: 800px;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 10px;
}

.cont .complaint .main{
	margin: 10px 0;
}

.bold{
	font-weight: bold !important;
}

.cont .complaint .main .title{
	margin-bottom: 5px;
	font-size: 20px;
}

.cont .complaint .main.inline *{
	display: inline;
}

.cont .complaint .main.inline .status{
	text-transform: uppercase;
}

.pending{
	color: orange;
	font-weight: bold !important;
}

.resolved{
	color: green;
	font-weight: bold !important;
}

.error{
	color: red;
	font-weight: bold !important;
}

.cont .complaint .actions{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(177.5px,1fr));
}

.cont .complaint .actions .action{
	text-transform: none;
	margin: 10px;
}

.cont .complaint .main .image{
	position: relative;
	width: 100%;
}

.update .cont{
	position: relative;
	width: 100%;
	max-width: 600px;
	left: 50%;
	transform: translate(-50%);
	height: auto;
	min-height: auto;
}

.update .input{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.update .image{
	margin: 10px 0;
}

.update .image .title{
	margin-bottom: 10px;
}

.update .image .imgs{
	position: relative;
	width: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
}

.update .image .imgs .upload{
	display: block;
	position: relative;
	text-align: center;
	text-transform: none;
	margin-left: 5px;
	padding: 10px;
	width: 95%;
	height: 90%;
	min-height: 112.5px;
	background: #eeeeee;
	border-radius: 5px;
}

.update .image .imgs .img{
	display: grid;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	text-transform: none;
	margin: 5px;
	padding: 10px;
	min-height: 112.5px;
	background: #fafafa;
	border-radius: 5px;
}

.update .image .imgs .img .close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
}

.cont .skeleton *{
	background-color: #afafaf;
	border-radius: 5px;
	margin: 5px 0;
}

.cont .skeleton .images{
	width: 100%;
	height: 300px;
}

.cont .skeleton .id{
	height: 40px;
	width: 150px;
}

.cont .skeleton .desc{
	height: 150px;
	width: 100%;
}

.cont .skeleton .date,
.cont .skeleton .status
{
	height: 40px;
	width: 160px;
}

.cont .skeleton .status{
	width: 165px;
}

.cont .skeleton{
	animation: skeletonAnimate 1.5s linear infinite;
}

@keyframes skeletonAnimate{
	0%{
		opacity: 0.25;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.25;
	}
}
