.cont{
	position: absolute;
	width: 100%;
	height: auto;
	min-height: calc(100vh - 75px);
	margin-top: 75px;
}

.cont .notFound{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.cont .notFound .img{
	object-fit: fill;
}

.cont .notFound .msg .title{
	font-weight: bold;
	margin-bottom: 2.5px;
}

.cont .complaint,
.cont .skeleton{
	position: relative;
	width: 90%;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 10px;
}

.cont .complaint .main{
	margin: 10px 0;
	white-space: pre-line;
}

.cont .complaint .mainCont,
.cont .skeleton .mainCont{
	display: grid;
	grid-template-columns: 1fr 0.35fr;
	margin-top: 10px;
}

.cont .complaint .mainCont .side{
	position: relative;
	margin-left: 10px;
}

.cont .complaint .mainCont .side .item{
	position: sticky;
	top: 80px;
}

.cont .complaint .mainCont .side .items{
	position: sticky;
	top: 10px;
}

.cont .complaint .mainCont .side .sideCont{
	border-radius: 4px;
	background: #fafafa;
	border: 1px solid #000000;
	padding: 10px;
	margin: 5px 0;
}
.cont .complaint .mainCont .side .sideCont .initial{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 10px;
	height: 50px;
	width: 50px;
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: 32px;
	border-radius: 50px;
	margin-top: 5px;
	background: #000000;
	color: #ffffff;
}

.cont .complaint .mainCont .side .sideCont .name{
	text-align: center;
	font-size: 28px;
}

.cont .complaint .mainCont .side .sideCont .allotmentDate{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	justify-items: center;
	width: fit-content;
}

.cont .complaint .mainCont .side .sideCont .allotmentDate span{
	margin-right: 5px;
}

.cont .complaint .mainCont .side .sideCont .main{
	text-align: center;
}

.bold{
	font-weight: bold !important;
}

.cont .complaint .main .title{
	margin-bottom: 5px;
	font-size: 20px;
}

.cont .complaint .main.inline *{
	display: inline;
}

.cont .complaint .main.inline .status{
	text-transform: uppercase;
}

.pending{
	color: orange;
	font-weight: bold !important;
}

.resolved{
	color: green;
	font-weight: bold !important;
}

.error{
	color: red;
	font-weight: bold !important;
}

.cont .complaint .actions{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(177.5px,1fr));
}

.cont .complaint .actions .action{
	text-transform: none;
	margin: 10px;
}

.cont .complaint .main .image{
	position: relative;
	width: 100%;
}


.update .cont{
	position: relative;
	width: 100%;
	max-width: 600px;
	left: 50%;
	transform: translate(-50%);
	height: auto;
	min-height: auto;
}

.update .input{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.update .image{
	margin: 10px 0;
}

.update .image .title{
	margin-bottom: 10px;
}

.update .image .imgs{
	position: relative;
	width: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
}

.update .image .imgs .upload{
	display: block;
	position: relative;
	text-align: center;
	text-transform: none;
	margin-left: 5px;
	padding: 10px;
	width: 95%;
	height: 90%;
	min-height: 112.5px;
	background: #eeeeee;
	border-radius: 5px;
}

.update .image .imgs .img{
	display: grid;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	text-transform: none;
	margin: 5px;
	padding: 10px;
	min-height: 112.5px;
	background: #fafafa;
	border-radius: 5px;
}

.update .image .imgs .img .close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
}

.cont .skeleton .images,
.cont .skeleton .id,
.cont .skeleton .desc,
.cont .skeleton .date,
.cont .skeleton .status,
.cont .skeleton .side .sideCont{
	background-color: #afafaf;
	border-radius: 5px;
	margin: 5px 0;
}

.cont .skeleton .images{
	width: 100%;
	height: 300px;
}

.cont .skeleton .id{
	height: 40px;
	width: 150px;
}

.cont .skeleton .desc{
	height: 150px;
	width: 100%;
}

.cont .skeleton .date,
.cont .skeleton .status
{
	height: 40px;
	width: 160px;
}

.cont .skeleton .status{
	width: 165px;
}

.cont .skeleton .side{
	position: relative;
	margin-left: 10px;
}

.cont .skeleton .side .sideCont{
	position: sticky;
	top: 80px;
	height: 200px;
	width: 100%;
	border: 1px solid #000000;
}

.cont .skeleton{
	animation: skeletonAnimate 1.5s linear infinite;
}

@keyframes skeletonAnimate{
	0%{
		opacity: 0.25;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.25;
	}
}


@media screen and (max-width: 1061px){
	.cont .complaint .mainCont,
	.cont .skeleton .mainCont{
		grid-template-columns: 1fr 0.45fr;
	}
}

@media screen and (max-width: 873px){
	.cont .complaint .mainCont,
	.cont .skeleton .mainCont{
		grid-template-columns: 1fr 0.5fr;
	}
}

@media screen and (max-width: 811px){
	.cont .complaint .mainCont,
	.cont .skeleton .mainCont{
		grid-template-columns: 1fr;
	}
	.cont .complaint .mainCont .side{
		margin-left: 0px;
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 95%;
	}
	.cont .complaint .mainCont .side .sideCont,
	.cont .skeleton .mainCont .side .sideCont{
		position: relative;
		top: auto;
	}
}