.cont,
.skeleton{
	margin-top: 80px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 80%;
	max-width: 600px;
}

.cont .txtAr{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.cont .input{
	position: relative;
	margin: 10px 0;
	width: 100%;
}

.cont .imgs{
	position: relative;
	width: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
}

.cont .imgs .upload{
	display: block;
	position: relative;
	text-align: center;
	text-transform: none;
	margin-left: 5px;
	padding: 10px;
	width: 95%;
	height: 90%;
	min-height: 112.5px;
}

.cont .imgs .hide{
	display: none;
}

.cont .imgs .img{
	position: relative;
	padding: 10px;
	margin: 5px;
	background: #eeeeee;
	border-radius: 5px;
}

.cont .imgs .img .image{
	position: relative;
	left: 50%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transform: translate(-50%);
	height: 100px;
	width: 100px;
}

.cont .imgs .img .remove{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 2.5px;
	right: 2.5px;
	background: rgba(255,255,255,0.95);
	border-radius: 50%;
	padding: 5px;
	z-index: 2;
	backdrop-filter: blur(10px);
}

.cont .submit{
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.skeleton .complaintInput,
.skeleton .departmentSelector,
.skeleton .submitButton,
.skeleton .imgSelector{
	background: #afafaf;
	border-radius: 4px;
	margin-bottom: 10px;
}

.skeleton .complaintInput{
	height: 35vh;
}

.skeleton .imgSelector{
	height: 125px;
	width: 125px;
}

.skeleton .departmentSelector,
.skeleton .submitButton{
	height: 45px;
}

.skeleton{
	animation: skeletonAnimate 1.5s ease-in-out infinite;
}

@keyframes skeletonAnimate{
	0%{
		opacity: 0.25;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.25;
	}
}


@media screen and (max-width: 434px){
	.cont,
	.skeleton{
		width: 90%;
	}
}