.cont, .announcement{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.cont .notFound,
.announcement .notFound{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.cont .notFound .img,
.announcement .notFound .img{
	object-fit: fill;
}

.cont .notFound .msg .title,
.announcement .notFound .msg .title{
	font-weight: bold;
	margin-bottom: 2.5px;
}

.announcement .title{
	padding: 25px 0;
	position: relative;
	width: 100%;
}

.announcement .title .line{
	position: absolute;
	top: 50%;
	transform: translate(0%,-50%);
	z-index: 1;
	height: 1px;
	background: #000;
	width: 100%;
}

.announcement .title .text{
	position: relative;
	margin-left: 5px;
	width: fit-content;
	background-color: #fff;
	z-index: 2;
	padding: 0 10px;
}


.cont .users,
.cont .skeleton{
	display: grid;
	position: relative;
	align-items: center;
	align-content: center;
	justify-items: center;
	min-height: 100vh;
	width: 100%;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.cont .users .block{
	display: grid;
	align-self: center;
	align-content: center;
	justify-content: center;
	height: 250px;
	width: 280px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	background: #eeeeee;
}

.cont .users .block .title,
.cont .users .block .subtitle{
	display: block;
	width: 100%;
	text-align: center;
}

.announcement .content{
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	margin-bottom: 10px;
}

.announcement .content .block{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 10px;
	border-radius: 5px;
	background-color: #eeeeee;
	max-width: 80%;
	min-width: 200px;
	white-space: pre-line;
}


.announcement .content .block .attr{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.announcement .content .block .attr .author{
	text-align: right;
}

.announcement .viewMore{
	position: relative;
	width: fit-content;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 10px;
}

.new{
	position: fixed !important;
	bottom: 25px;
	right: 25px;
	z-index: 5;
}

.new span{
	transition: 0.05s linear;
}

.new.close span{
	transform: rotate(22.5deg);
}

.menu{
	z-index: 5;
}

.menu .menuItem{
	display: block;
	position: relative;
	text-transform: none;
	font-size: 1.05rem;
	padding: 5px 10px;
}
@media screen and (max-width: 947px){
	.cont .users{
		margin-top: 100px;
	}
}

.skeleton .block,
.skeleton .bigBlock,
.skeleton .viewMore{
	background: #afafaf;
	width: 250px;
	height: 250px;
	border-radius: 10px;
}

.skeleton .bigBlock{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 80%;
}

.cont .skeleton .block{
	margin: 5px 0;
}

.skeleton .viewMore{
	width: 125px;
	height: 40px;
	margin-top: 10px;
}

.skeleton{
	animation: skeletonAnimate 1.5s linear infinite;
	margin-top: 80px;
	min-height: calc(100vh - 80px) !important;
}

@keyframes skeletonAnimate{
	0%{
		opacity: 0.25;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.25;
	}
}
