.cont{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 99.5vw;
	max-width: 600px;
	margin-top: 80px;
}

.cont .input{
	margin-top: 5px;
}

.cont .input,
.cont .button{
	position: relative;
	width: 100%;
	margin: 10px 0;
}

.cont .button{
	padding: 10px;
}