@font-face {
    font-family: 'Material Icons Outlined';
    src: url('fonts/MaterialIconsOutlined-Regular.eot');
    src: url('fonts/MaterialIconsOutlined-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MaterialIconsOutlined-Regular.woff2') format('woff2'),
        url('fonts/MaterialIconsOutlined-Regular.woff') format('woff'),
        url('fonts/MaterialIconsOutlined-Regular.ttf') format('truetype'),
        url('fonts/MaterialIconsOutlined-Regular.svg#MaterialIconsOutlined-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,h2,h3,h4{
	font-family: 'Merriweather', serif !important;
}

input[disabled],
button[disabled]{
	cursor: no-drop;
}

.control-arrow{
	background: rgba(0,0,0,0.15) !important;
	opacity: 1 !important;
}

header{
	z-index: 999 !important;
}

.offlineMsg{
	position: fixed;
	bottom: 0;
	background: red;
	color: white;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	z-index: 4;
	font-size: 12px;
}
