h1,h2,h3,h4{
	font-family: 'Merriweather', serif !important;
}

input[disabled],
button[disabled]{
	cursor: no-drop;
}

.control-arrow{
	background: rgba(0,0,0,0.15) !important;
	opacity: 1 !important;
}

header{
	z-index: 999 !important;
}